

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(https://deov19kjit2mc.cloudfront.net/uploads/color_03-720x900.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}
<!--esta parte define el cuadrado done esta correo, paswors donde puedo cambiar su grandor-->
.contenedor{
    position: relative;
    width: 400px; 
    background-color: beige;
    border: 2px solid rgba(rgb(206, 98, 157), green, blue, alpha);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor h2{
  font-size: 2.3rem;
  color: rgb(12, 12, 12);
  text-align: center;
}
.input-contenedor{
position: relative;
margin: 25px 0;
width: 300px ;
border-bottom: 2px solid #fdf0f0;
}
.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}






